.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #f0f0f0; /* Default background color */
  transition: background-color 0.3s ease; /* Smooth transition for background color changes */
}

.dark-mode .app-container {
  background-color: #333; /* Dark mode background color */
  color: #fff; /* Adjust text color for dark mode */
}

.sidebar {
  width: 250px;
  background-color: #eee;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.content {
  flex: 1;
  padding: 20px;
}

h1 {
  color: #333;
}

p {
  line-height: 1.6;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    box-shadow: none;
    padding: 10px;
  }

  .content {
    padding: 10px;
  }

  h1 {
    font-size: 1.5em;
  }
}

/* Example of changing background color on smaller screens */
@media (max-width: 576px) {
  .app-container {
    background-color: lightgreen; /* Background color for very small screens */
  }

  .dark-mode .app-container {
    background-color: darkgreen; /* Dark mode background color for very small screens */
  }
}